<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/public/assets/css.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include nav.ejs %>
    RENDER VIEW <%= person.name %>
    <br>
    age : <%= person.age %>
    <br>
    hobbies : 
        <% person.hobbies.forEach(function(item){ %>
            <li><%=item%></li>
        <%});%>
    <script type ="text/javascript">
        let person = "<%- person.hobbies %>";
        console.log(person);
    </script>
</body>
</html>